# Other #
#########
infrared
Joystick

# Compiled # 
############
*.class
*.nxj
*.nxd
out

# Project #
###########
.classpath
.externalToolBuilders
.idea
.project
*.cproject
.settings
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
